.App {
  background-image: url("/carFog.png");
  text-align: center;
  height: 175vh;
  width: 150vw;
  background-size: cover;
  background-repeat: no-repeat
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.golf{
  background-image: url("/carFog.png");
  height: 175vh;
  width: 150vw;
  background-size: cover;
  background-repeat: no-repeat;
}

.login {
  justify-content: center;
  height: 3vh;
  width: 7vw;
  box-shadow: 3px;
}

.land {
  background-image: ("/openRoad.jpg");
  height: 100vh;
  width: 100vw;
  background-size: cover;
  background-repeat: no-repeat;
}

/* .form {

} */
.expButton{
  box-shadow: 2px;
  height: 3vh;
  width: 6vw;
}

.addExp{
  box-shadow: 2px;
  height: 3vh;
  width: 6vw;
}

.expense{
  box-shadow: 2px;
  height: 3vh;
  width: 6vw;
}
/* .chart {
  width:400px ;
  height:400px ;
} */
.chartlink{
  position: fixed;
  bottom: 100;
  left: 0;
  width: 300px;
}
.link {
  position: relative; 
  width: 100%; 
}